<html>
    <head>
        <title>EDIT Manufacture</title>
    </head>
    <body>
        <h1>EDIT Manufacture</h1>
        <form action="editManufacture" method="POST">
            ID <input type="text" name="manuId" value="<%= Manufactures._id %>" readonly><br/>
            Name <input type="text" name="manuName" value="<%= Manufactures.name%>"><br/>
            Address <input type="text" name="manuAddress" value="<%= Manufactures.address%>"><br/>
            <input type="submit" value="UPDATE">
        </form>
    </body>
</html>